.container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 30px;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
}

.table td {
  padding: 10px;
}

.hourButton {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #7a7a7a;
  cursor: pointer;
  width: 140px;
}

.hourButton:hover {
  background: #eaeaea;
}
