.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

.header h2 {
  margin: 0;
  font-size: 20px;
  text-transform: capitalize;
}

.header button {
  background: transparent;
  cursor: pointer;
}

.tableContainer {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* fuerza columnas iguales */
}

.cell {
  border: 0.5px solid #292929;
  height: 70px;
  text-align: center;
  width: calc(100% / 7); /* mismo ancho para todas */
  box-sizing: border-box;
  background-color: #333333;
}

.dayButton:hover{
    background-color: #4C0066;
}

.dayButton {
  width: 100%;
  height: 100%;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.dayButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.weekday {
  color: #fff;
}

.dayNumber {
  color: #fff;
}
