.container {
  position: relative;
  background-color: #383838;
  padding: 16px;
  width: 80%;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #d0d0d0;
  pointer-events: none;

  mask-image:
    radial-gradient(circle at top right, transparent 0 30px, black 30px),
    radial-gradient(circle at bottom left, transparent 0 30px, black 30px);
  mask-composite: intersect;
  -webkit-mask-image:
    radial-gradient(circle at top right, transparent 0 30px black 30px),
    radial-gradient(circle at bottom left, transparent 0 30px, black 30px);
  -webkit-mask-composite: source-in;
}

.secondContainer {
  position: relative;
  padding: 2em 4em;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #d0d0d0;
  pointer-events: none;
  mask-image:
    radial-gradient(circle at top right, transparent 0 36px, black 36px),
    radial-gradient(circle at bottom left, transparent 0 36px, black 36px);
  mask-composite: intersect;
  -webkit-mask-image:
    radial-gradient(circle at top right, transparent 0 36px, black 36px),
    radial-gradient(circle at bottom left, transparent 0 36px, black 36px);
  -webkit-mask-composite: source-in;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1.5em;
}

.inputContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}