.container {
    text-align: center;
    padding: 20px;
}

.dateContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px; /* espacio entre steps y action */
    margin-top: 30px;
}

.stepsContainer {
    flex: 0 0 200px; /* ancho fijo para los pasos */
    text-align: left;
    padding: 20px;
    background-color: #383838;
}

.stepsContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stepsContainer li {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.actionContainer {
    flex: 1;
    background-color: #383838;
}
