.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #383838;
    text-align: center;
    padding: 2rem;
    color: white;
}

.content h1 {
    font-size: 2.5em;
    margin-bottom: 2rem;
}

.content div > p {
    font-size: 1.2em;
    margin: 0.5rem 0;
}

.content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
    text-align: left;
    display: inline-block;
}

.content ul li {
    margin: 0.3rem 0;
    font-size: 1.1em;
}
